# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Alessandro Gianola

### Grupo 82
<dl>
    <dt>19 horas (33.3%)</dt>
    <dd>ist1106929 Eduardo Silva</dd>
    <dt>19 horas (33.3%)</dt>
    <dd>ist1106876 Duarte Laia</dd>
    <dt>19 horas (33.3%)</dt>
    <dd>ist1102991 Margarida Chinopa</dd>
<dl>

In [1]:
%reload_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://saude:saude@postgres/saude

Connecting to 'postgresql+psycopg://saude:***@postgres/saude'

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [2]:
%%sql
DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;

CREATE TABLE clinica(
    nome VARCHAR(80) PRIMARY KEY,
    telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
    morada VARCHAR(255) UNIQUE NOT NULL
);
CREATE TABLE enfermeiro(
    nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
    nome VARCHAR(80) UNIQUE NOT NULL,
    telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
    morada VARCHAR(255) NOT NULL,
    nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);
CREATE TABLE medico(
    nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
    nome VARCHAR(80) UNIQUE NOT NULL,
    telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
    morada VARCHAR(255) NOT NULL,
    especialidade VARCHAR(80) NOT NULL
);
CREATE TABLE trabalha(
    nif CHAR(9) NOT NULL REFERENCES medico,
    nome VARCHAR(80) NOT NULL REFERENCES clinica,
    dia_da_semana SMALLINT,
    PRIMARY KEY (nif, dia_da_semana)
);
CREATE TABLE paciente(
    ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
    nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
    nome VARCHAR(80) NOT NULL,
    telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
    morada VARCHAR(255) NOT NULL,
    data_nasc DATE NOT NULL
);
CREATE TABLE consulta(
    id SERIAL PRIMARY KEY,
    ssn CHAR(11) NOT NULL REFERENCES paciente,
    nif CHAR(9) NOT NULL REFERENCES medico,
    nome VARCHAR(80) NOT NULL REFERENCES clinica,
    data DATE NOT NULL,
    hora TIME NOT NULL,
    codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
    UNIQUE(ssn, data, hora),
    UNIQUE(nif, data, hora)
);
CREATE TABLE receita(
    codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
    medicamento VARCHAR(155) NOT NULL,
    quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
    PRIMARY KEY (codigo_sns, medicamento)
);
CREATE TABLE observacao(
    id INTEGER NOT NULL REFERENCES consulta,
    parametro VARCHAR(155) NOT NULL,
    valor FLOAT,
    PRIMARY KEY (id, parametro)
);

++
||
++
++

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [3]:
%%sql

ALTER TABLE consulta
ADD CONSTRAINT horario_consulta
CHECK (
    (
    -- ultima marcação possivel será as 12:30
        (EXTRACT(HOUR FROM hora) BETWEEN 8 AND 12)
        AND (EXTRACT(MINUTE FROM hora) % 30 = 0)
    )
    OR
    (
        -- ultima marcação será às 18:30
        (EXTRACT(HOUR FROM hora) BETWEEN 14 AND 18)
        AND (EXTRACT(MINUTE FROM hora) % 30 = 0)
    )
);

++
||
++
++

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [4]:
%%sql

CREATE OR REPLACE FUNCTION verify_nif_ssn() RETURNS TRIGGER AS
$$
DECLARE
    paciente_nif CHAR(9);
BEGIN
    /* nif da  consulta(medico) e ssn da consulta(paciente) */
    SELECT nif INTO paciente_nif
    FROM paciente WHERE ssn = NEW.ssn;
    IF paciente_nif = NEW.nif THEN 
        RAISE EXCEPTION 'O medico % nao pode dar consulta a ele próprio.',
            NEW.nif;
    END IF;
    RETURN NEW;
END   
$$ LANGUAGE plpgsql;

/* impedir que o médico dê consultas a si mesmo */
CREATE TRIGGER medico_id BEFORE INSERT OR UPDATE ON consulta 
    FOR EACH ROW EXECUTE FUNCTION verify_nif_ssn()

++
||
++
++

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [5]:
%%sql

CREATE OR REPLACE FUNCTION verify_med_clin() RETURNS TRIGGER AS
$$
BEGIN
    -- Se ele já estiver associado a uma clinica na tabela trabalha então verifica se está correta a clinica para aquele dia
    IF NOT EXISTS (
        SELECT 1
        FROM trabalha
        WHERE nif = NEW.nif and nome=NEW.nome and dia_da_semana%7 = EXTRACT(DOW FROM NEW.data)
    ) THEN 
        RAISE EXCEPTION 'O medico % não está a trabalhar nesta clinica neste dia.',
            NEW.nif;
    END IF;
    RETURN NEW;
END   
$$ LANGUAGE plpgsql;


/* impedir que o médico dê consultas em dias que não correspondem aos respetivos para cada clinica */
CREATE TRIGGER medico_clinic BEFORE INSERT OR UPDATE ON consulta 
    FOR EACH ROW EXECUTE FUNCTION verify_med_clin()

++
||
++
++

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

#### Nota
A tabela auxiliar abaixo deve ser executada para o bom funcionamento da aplicação **após** a inserção dos dados (\i ~/data/populate.sql).
Decidimos guardar em memória para além da hora e data, as disponibilidades por médico. Uma vez que a aplicação não suporta inserções de novos médicos, esta abordagem troca espaço em memória por melhores tempos de execução de queries. **Numa implementação em que seja possivel adicionar médicos, a tabela como está definida não seria tão benéfica**.

In [6]:
%%sql 

DROP TABLE IF EXISTS combinacoes_temp_med CASCADE; 

-- Criação de uma tabela temporária para armazenar as combinações
CREATE TABLE combinacoes_temp_med (
    nif CHAR(9),
    nome_medico CHAR(155),
    especialidade CHAR(155),
    nome_clinica CHAR(155),
    hora TIME,
    data DATE
);

-- Gera todas as combinações de horas em intervalos de 30 minutos
WITH combinacoes_temp AS (
SELECT 
    data_hora::date AS data,
    data_hora::time AS hora
FROM (
    SELECT 
        generate_series(
            '2024-01-01 00:00:00'::timestamp, 
            '2024-12-31 23:59:59'::timestamp, 
            '30 minutes'::interval
        ) AS data_hora
) AS todas_as_horas
WHERE 
    EXTRACT(HOUR FROM data_hora) BETWEEN 8 AND 12
    OR
    EXTRACT(HOUR FROM data_hora) BETWEEN 14 AND 18
)

INSERT INTO combinacoes_temp_med
SELECT DISTINCT nif,m.nome AS nome_medico, m.especialidade, t.nome AS nome_clinica,hora,data
    FROM trabalha t JOIN medico m using (nif) CROSS JOIN combinacoes_temp
    WHERE EXTRACT(DOW FROM data) = ( t.dia_da_semana % 7 )
    ORDER BY m.nome,data,hora ASC;

++
||
++
++

### Endpoints e Funções

| |Endpoint|Funções|
|-|--------|---------|
|**1**|/|clinica()|
|**2**|/c/\<clinica>/|clinica_especialidade(clinica)|
|**3**|/c/\<clinica>/\<especialidade>/|horarios_disponiveis(clinica, especialidade)|
|**4**|/a/\<clinica>/registar/|registar(clinica)|
|**5**|/a/\<clinica>/cancelar/|cancelar_consulta(clinica)|

#### 1. [/](http://127.0.0.1:8080)
 #####  - Lista todas as clínicas (nome e morada).
 Definimos uma rota do tipo GET, uma vez que o objetivo é obter informação da base de dados, e corremos uma query que seleciona todos os nomes e moradas de clínicas registadas na tabela *clinica*. Se não forem encontradas clinicas, é retornado um código de erro com uma mensagem sugestiva.

    
#### 2. [/c/\<clinica>](http://127.0.0.1:8080/c/CUF%20Torres%20Vedras)
 #####  - Lista todas as especialidades oferecidas na \<clinica>.
Pelo mesmo motivo, definimos novamente uma rota do tipo GET. Se a clinica especificada existir, selecionamos todas as especialidades presentes no *JOIN* das tabelas *trabalha* e *medico* e filtramos pela clinica. Desta forma, encontramos as especialidades de todos os médicos que trabalham na clinica especificada.


#### 3. [/c/\<clinica>/\<especialidade>](http://127.0.0.1:8080/c/CUF%20Torres%20Vedras/clínica%20geral)
 #####  - Lista todos os médicos (nome) da \<especialidade> que trabalham na \<clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).
Mais uma vez, definimos uma rota do tipo GET. Verificamos se existe a clinica e a especialidade. No caso de existir, a query passa por: 
- Restringir a tabela combinacoes_temp_med em função da data e hora a que se está a fazer o request (com a CTE horarios_totais_medico_clinica).
- Fazer um *LEFT JOIN* entre *horarios_totais_medico_clinica* e a tabela *consulta*, restringindo as consultas cujo id fica a NULL. Desta forma, ficamos com todos os horários de marcações exceto aqueles em que já existe uma marcação.

    
#### 4. /a/\<clinica>/\<registar>
 #####  - Regista uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).
Desta vez, definimos uma rota do tipo POST, uma vez que o objetivo é adicionar uma nova informação à base de dados. Começamos por verificar a clinica e os argumentos. Caso estejam de acordo com o esperado, corremos uma query do tipo *INSERT* sobre a tabela *consulta* com os valores fornecidos pelo utilizador.


#### 5. /a/\<clinica>/\<cancelar>
 #####  - Cancela uma marcação de consulta que ainda não se realizou na <clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.
Por último, definimos uma rota do tipo DELETE, já que pretendemos remover algum tipo de informação da base de dados. Novamente, verificamos a clínica, bem como a validade e presença dos argumentos na base de dados. Validados os argumentos, aplicamos uma query do tipo *DELETE* sobre a tabela *consulta*.

## 4. Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [7]:
%%sql
DROP MATERIALIZED VIEW IF EXISTS historial_paciente;

CREATE MATERIALIZED VIEW historial_paciente AS
SELECT id, ssn, nif, consulta.nome, data,
    EXTRACT(YEAR FROM data) ano, EXTRACT(MONTH FROM data) mes, EXTRACT(DAY FROM data) dia_do_mes,
    REGEXP_REPLACE (clinica.morada, '.* (\S+)$', '\1') AS localidade,
    especialidade,
    'observacao' AS tipo,
    parametro chave,
    valor
FROM consulta
    JOIN medico USING (nif)
    JOIN clinica ON (clinica.nome = consulta.nome)
    JOIN observacao USING (id)
    
UNION ALL
    
SELECT id, ssn, nif, consulta.nome, data,
    EXTRACT(YEAR FROM data) ano, EXTRACT(MONTH FROM data) mes, EXTRACT(DAY FROM data) dia_do_mes,
    REGEXP_REPLACE (clinica.morada, '.* (\S+)$', '\1') AS localidade,
    especialidade,
    'receita' AS tipo,
    medicamento chave,
    quantidade valor
FROM consulta
    JOIN medico USING (nif)
    JOIN clinica ON (clinica.nome = consulta.nome)
    JOIN receita USING (codigo_sns)

++
||
++
++

## 5. Análise de Dados (SQL e OLAP

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [8]:
%%sql
WITH
  intervalos AS (
    SELECT
      ssn,
      chave,
      MAX(data) - MIN(data) AS intervalo
    FROM
      historial_paciente
    WHERE
      especialidade = 'ortopedia'
      AND tipo = 'observacao'
      AND valor IS NULL
    GROUP BY
      ssn,
      chave
  )
SELECT
  ssn
FROM
  intervalos
WHERE
  intervalo = (
    SELECT
      MAX(intervalo)
    FROM
      intervalos
  );

+-----+
| ssn |
+-----+
+-----+

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante os últimos doze meses, em consultas de cardiologia.

In [9]:
%%sql
WITH pares AS (SELECT ssn, chave, ano, mes 
    FROM historial_paciente
    WHERE tipo = 'receita' AND especialidade = 'cardiologia' AND
    data BETWEEN (DATE(NOW()) - interval '1 year')::date AND DATE(NOW())
    GROUP BY ssn, chave, ano, mes)

SELECT chave
FROM pares
GROUP BY ssn, chave
HAVING COUNT(*) >= 12

+-------+
| chave |
+-------+
+-------+

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [10]:
%%sql
SELECT
  chave,
  localidade,
  h.nome AS nome_clinica,
  mes,
  dia_do_mes,
  medico.especialidade,
  medico.nome AS nome_medico,
  SUM(valor) AS quantidade_total
FROM
  historial_paciente AS h
  JOIN medico USING (NIF)
WHERE
  tipo = 'receita'
  AND ano = '2023'
GROUP BY
  chave,
  ROLLUP (localidade, h.nome),
  ROLLUP (mes, dia_do_mes),
  ROLLUP (medico.especialidade, medico.nome)
ORDER BY
  chave;

+-------+------------+--------------+-----+------------+---------------+-------------+------------------+
| chave | localidade | nome_clinica | mes | dia_do_mes | especialidade | nome_medico | quantidade_total |
+-------+------------+--------------+-----+------------+---------------+-------------+------------------+
+-------+------------+--------------+-----+------------+---------------+-------------+------------------+

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [11]:
%%sql
SELECT
  chave,
  h.nome AS nome_clinica,
  h.especialidade,
  m.nome AS nome_medico,
  STDDEV (valor) AS desvio_padrao,
  AVG(valor) AS valor_medio
FROM
  historial_paciente h
  JOIN medico m USING (NIF)
WHERE
  valor IS NOT NULL
  AND tipo = 'observacao'
GROUP BY
  chave,
  GROUPING SETS (
    (nome_clinica, h.especialidade, nome_medico),
    (nome_clinica, h.especialidade),
    (nome_clinica),
    (h.especialidade, nome_medico),
    (h.especialidade),
    ()
  )
having h.nome is null
ORDER BY
  chave,
  nome_clinica,
  h.especialidade,
  nome_medico

-- O primeiro grupo, (nome_clinica, especialidade, nome_medico), deteta enviesamentos entre médicos da mesma especialidade, na mesma clinica. 
-- O segundo grupo, (nome_clinica, especialidade), deteta enviesamentos entre especialidades na mesma clinica.
-- O terceiro grupo, (nome_clinica), deteta enviesamentos dentro da mesma clinica, indepententemente da especialidade.
-- O quarto grupo, (especialidade, nome_medico), deteta enviesamentos entre médicos da mesma especialidade, em diferentes clinicas  (o valor calculado seria igual ao grupo (nome_medico)).
-- O quinto grupo, (especialidade), deteta enviesamentos entre especialidades, intependentemente da clinica.
-- O sexto grupo, (), deteta enviesamentos entre médicos, independentemente da clinica e especialidade.

+-------+--------------+---------------+-------------+---------------+-------------+
| chave | nome_clinica | especialidade | nome_medico | desvio_padrao | valor_medio |
+-------+--------------+---------------+-------------+---------------+-------------+
+-------+--------------+---------------+-------------+---------------+-------------+

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

In [12]:
%%sql
CREATE INDEX idx_observacao_parametro_valor ON observacao (parametro, valor);

++
||
++
++

### Justificação

Analisando o resultado do *EXPLAIN ANALYSE* da query, verificamos que a maior fonte do custo da mesma provem das comparações de igualdade e desigualdade. Desta forma, concluimos que esta query benificiaria de um indice composto na tabela *observacao*, sobre *parametro* e *valor*. *Parametro* participa numa igualdade, pelo que tem maior seletividade que *valor*, que participa numa desigualdade, logo, determinamos a ordem das colunas do indice como parametro, valor. No enunciado está exposto que indices em chaves estrangeiras são implicitos, logo, não o criamos para os atributos *ssn* e *id*.

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
SORT BY qtd;

In [13]:
%%sql
CREATE INDEX idx_consulta_data ON consulta(data);
CREATE INDEX idx_medico_especialidade ON medico(especialidade);

++
||
++
++

### Justificação

Neste caso, é possivel identificar duas fontes de custo desta query: a desigualdade na data e o *GROUP BY* por especialidade. De forma a tornar a query mais eficiente, criamos dois indices do tipo B-tree (default), uma vez que a ambos os problemas está associado um intervalo. Novamente, pelo exposto no enunciado, indices em chaves estrangeiras são implicitos, logo, não o criamos para os atributos *nif* e *codigo_sns*.